/* a */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #333333;
}

/* b */
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 24px;
    color: #1a5eab;
}

/* c */
p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 24px;
    color: #444444;
}

/* d */
.categories {
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin: 20px 0px; */
}

/* e */
#main-header {
    background-color: #f8f8f8;
}

/* f */
article header {
    margin: 15px;
    border-bottom: 1px solid #dddddd;
}

/* g */
article>section {
    padding: 20px;
}

/* h */
.categories a:hover {
    color: #ff0000;
}

/* i */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* j */
p::first-letter {
    font-size: 22px;
    color: #1a5eab;
}

/* k */
h1::before {
    content: '- ';
}

/* l */

/* 1 */
nav a {
    text-decoration: none;
}

nav a::before {
    content: '🔗 ';
}

/* 2 */
article h1 {
    
}

/* 3 */
article:hover {
    background-color: #f2f2f2;
}

/* 4 */
