* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background: url(./img/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    padding: 20px 10px 0px; 
    height: 200px;

    color: white;
}

.contenidoHeader h1 {
    margin: 0;
    font-size: 40px;
}

.boton {
    background: #004b8d;
    color: white;
    border: solid 1px white;
    margin: 25px;
    padding: 10px 20px; /*10 px por arriba y por abajo, 20px por izq y der*/
    border-radius: 20px;
    width: 300px;
    font-size: 12px;
}

nav {
    background-color: #003b70;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #003b70;
    padding: 15px;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin-left: 10px;
    margin-right: 10px; 
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: orange;
}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    /*
    se mueven a la siguiente linea si no caben en la línea actual
    */
    justify-content: center;
    margin: 20px;
}

.imagen {
    width: 23%;
    margin: 10px;
    text-align: center;
}

.imagen img {
    width: 75%;
    height: auto;
}

.contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*
    los divs se distribuyen con un espacio uniforme 
    */
    background: #003b70;
    color: white;
    padding: 20px;
}

.contacto h2, .contacto label {
    color: orange;
}

.contacto form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.contacto label {
    flex: 1 1 150px; 
    /*
        flex-grow: 1; 
        -> cuanto debe crecer un elemento en relacion con los demas
        flex-shrink: 1;
        -> cuanto debe encogerse un elemento si el contenedor no tiene suficiente espacio 
        flex-basis:150px;
        -> el tamaño inicial del elemento de base
    */
    margin-right: 10px;
    text-align: left;
}

.contacto input {
    flex: 2 1 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contacto hr {
    color: orange;
    margin-right: 50px;
}

.contacto div {
    flex: 1 1 300px;
    margin: 30px;
}

form input, form button {
    display: block;
    /*
    para que se coloquen en una nueva linea y ocupen todo el espacio disponible
    */
    width: 100%; 
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: 20%;
}

.iconos img {
    width: 75px;
    margin: 0 10px;
}

.siguenos ul li {
    list-style: none;
}

.siguenos ul li a {
    color: orange;
    text-decoration: none;
    text-align: left;
}

footer {
    background: #003b70;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* bloque media query */
@media (max-width: 767px) { 
    /*
    se aplica cuando el ancho es igual o menor a 767 píxeles
    */

    .imagenes {
        flex-direction: column;
        /* 
        las imagenes se distribuyen como columnas en vez de en una fila
        */
        align-items: center;
        margin-top: 100px;
        /*
        para que se separe del menu en columna
        */
    }

    .imagen {
        flex: 1 1 100%; /*cada imagen ocupa todo el ancho disponible en vez de un 23%*/
    }

    .contacto {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .contacto form {
        flex-direction: column;
        align-items: center;
    }

    .contacto label, .contacto input {
        flex: 1 1 100%;
    }
    
}
