* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 80px;
    height: 80px;

    border: 10px solid lightgray;
    border-top: 10px solid rgb(11, 11, 221);
    border-radius: 50%;

    animation: carga 1.5s linear infinite;
}

@keyframes carga {
    0% {
        transform: rotate(0deg);
        border-top: 10px solid rgb(11, 11, 221);
    }

    100% {
        transform: rotate(360deg);
    }
}