* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    background-color: rgb(88, 14, 184);
    color: white;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}


.header-animado h1 {
    animation: deslizar 2s ease-out;
}

@keyframes deslizar {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

img {
    max-width: 350px;
}

img:hover {
    scale: 1.5;
}

.imagenes {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;

    margin: 40px;
}

.imagenes img {
    border-radius:10px;
    transition: transform 0.3s ease-in;
}

.imagenes img:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 15px rgba(24, 1, 1, 0.692);
}

.boton-animado {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
    animation: brillar 2s infinite;
}

@keyframes brillar {
    0% {
        background-color: rgb(1, 185, 1);
        box-shadow: 0 0 5px rgb(1, 185, 1);
    }
    100% {
        background-color: rgb(1, 175, 1);
        box-shadow: 0 0 20px rgb(1, 175, 1);
    }
}

.boton-animado:hover {
    animation: pulsar 0.6s linear infinite;
}

@keyframes pulsar {
    0%, 100%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
}