* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(39, 36, 36);
}


header {
    background-color:cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}

header img {
    max-width: 200px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;

    background-color: white;
    height: 100vw;
}

main h1{
    color:teal;
}

main section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

    background-color: lightgrey;
    padding: 20px;
    height: 200px;
}

audio {
    width: 200px;
}

main section img {
    max-width: 100px;
}

.seccion1 {
    background-color: red;
    display: flex;
    flex-direction: column;
}