containter {
    display: grid;
    grid-template-columns: 200px 1fr 2fr;
    grid-template-rows: 50px 1fr 1fr;
    width: 400px;
    border: 1px solid black;
}

.containter>div {
    border: 1px solid saddlebrown;
    background-color: chocolate;
}