* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}

h1 {
    font-size: 2.5em;
    color: white;
    font-weight: 400;
    padding: 40px 0;
}

p {
    margin: 20px 0;
    font-style: italic;
    font-size: 9px;
}

.contenido {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(250px,auto);
    height: 100vh;
}

.contenido div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    justify-content: center;
}

.contenido div img {
    width: 35px;
    display: block; /* evita que haya espacios alrededor de las imagenes*/
    margin: 0 auto;
}

#texto {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: black;
    text-align: left;
}

#texto p {
    font-size: 13px;
    font-style: normal;
}

#texto span {
    color: #a1e1e1;
}

#user {
    grid-column: 4 / 5;
    grid-row: 1;
    background-color: #1c488f;
    color: white;
    font-size: 10px;
}

#persona {
    grid-column: 5 / 6;
    grid-row: 1;
    background: url("./imagenes/persona.jpg");
}

#teclado {
    grid-column: 1;
    grid-row: 2;
    background-image: url("./imagenes/teclado.jpg");
}

#clipboard {
    grid-column: 2;
    grid-row: 2;
    background-color: #3776d3;
}

#check {
    grid-column: 3;
    grid-row: 2;
    background-color: #a1e1e1;
}

#all {
    grid-column: 4;
    grid-row: 2;
    background-image: url("./imagenes/all.jpg");
}

#mail {
    grid-column: 5;
    grid-row: 2;
    background-color: #ffd549;
}

#empleos {
    grid-column: 1 / 3;
    grid-row: 3;
    background-image: url("./imagenes/empleo.jpg");
}

#message {
    grid-column: 3;
    grid-row: 3;
    background-color: #1c488f;
}

#redesSociales {
    grid-column: 4 / 6;
    grid-row: 3;
    background-image: url("./imagenes/redes.jpg");
}

#empleos p, #redesSociales p  {
    color: white;
    background-color: #1c488f6b;
    font-size: 2em;
}

#persona, #teclado, #all, #empleos, #redesSociales {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}