* {
    text-align: center;
}

.formulario {
    background-color: rgb(10, 59, 102);
    width: 50%;
    height: 60%;
}

h1 {
    color: white;
}

form {
    background-color: white;
    width: 80%;
    color:black;
    border: solid red;
}

form h1 {
    width: 100%;
    border-bottom: 5px solid red;
    background-color: rgb(121, 198, 221);
    color: white;
}


