body {
    background-color: #146356;
}

h1 {
    color: #146356;
}

header {
    background-color: #F3C892;
    border: 2px solid white;
}

header h1,
header p {
    background-color: #F3C892;
}

main {
    margin-top: 25px;
}

main section {
    display: inline-block;
}

#S1 {
    background-color: #146356;
    width: 20%;
    border: 2px solid white;
}

#S1 p {
    color: white;
    text-align: center;
    background-color: #146356;
}

#S2 {
    padding: 15px;
    width: 50%;
    background-color: #F3C892;
}

#enlaces table {
    width: 85%;
    margin: 0 auto;
    border-collapse: collapse;
}

#enlaces tr td {
    width: 50%;
    text-align: center;
    font-size: 20px;
    background-color: #A3DA5D;
    border: 1px solid black;
}

#introduccion img {
    float: left;
    height: 100%;
    width: 100px;
    margin: 15px 15px 0px 0px;
}

#paraQueSirve img {
    width: 300px;
    float: right
}

#S3 {
    width: 25%;
    border: 2px solid rgb(134, 65, 65);
}

#S3 img {
    width: 250px;
    border: 2px solid white;
}