body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./img/fondo.jpg);
    background-color: #98a490;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #0b6d28;
    animation: fondo-cabecera 5s infinite;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #0b6d28;
}

p {
    line-height: 160%;
}

nav a {
    color: white;
    font-weight: bold;
}

/*El fondo del encabezado cambiará
automáticamente entre 5 colores en bucle*/
@keyframes fondo-cabecera {
    0% { background-color: #98a490; }
    25% { background-color: rgb(99, 110, 90) }
    50% { background-color: #536147; }
    75% { background-color: #3d532e; }
    100% { background-color: #304b1d; }
}

/*animación que cree un efecto “typing”*/
.typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: typing 5s steps(30) infinite, parpadeo 0.5s step-end infinite;
}

/*efecto de escribir*/
@keyframes typing {
    from { width: 0; }
    to { width: 50%; }
}

/*cursor parpadeante*/
@keyframes parpadeo {
    50% { border-color: transparent; }
}

main {
    padding: 20px;
    width: 75%;
    background-color: white;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

section {
    margin-bottom: 30px;
    text-align: left;
}

.cabecera {
    position: relative;
    width: 100%;
    height: 730px;
    
    background-image: url('./img/cabecera.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.cabecera .texto {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
}

.cabecera h1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin: 0;
}

#sobre-el-parque,
#galeria,
#actividades,
#contacto {
    border: 1px solid #3d532e;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#lista {
    padding-left: 20px;
    border-left: 2px solid #0b6d28;
}

span {
    color: #3d532e;
    font-weight: bold;
}

.videos {
    display: flex;
    flex-wrap: wrap;
}

video {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    color:#536147;
}

.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animaciones de las imagenes */
.anim-imagen {
    margin: 35px;
    width: 250px;
    height: 250px;
    z-index: 100; 
}

.anim-imagen img {
    width: 100%;
    height: 100%;
    /*se adapta al tamaño del div*/
    object-fit: cover;
    border-radius: 10px;
}

/*Utiliza pseudoclases para que las imágenes aumenten el tamaño un
200% al pasar por encima*/
#galeria img:hover,
.actividades img:hover {
    transform: scale(2); 
    /*transicion al agrandar la imagen*/
    transition: transform 0.3s ease-in-out; 
    position: relative; 
}

.crecer {
    animation: crecer 2s infinite;
}


@keyframes crecer {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}

.aparecer {
    animation: aparecer 3s infinite;
}

@keyframes aparecer {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.rotar {
    animation: rotar 2s infinite;
}

@keyframes rotar {
    0%, 100% { transform: rotate(0); }
    50% { transform: rotate(10deg); }
}

.borde {
    animation: borde 3s infinite;
}

.borde img {
    border-radius: inherit; 
}


@keyframes borde {
    0% { border-radius: 50px; }
    50% { border-radius: 0px; }
    100% { border-radius: 50px; }
}


.nubes {
    position: relative;
    height: 150px;
    overflow: hidden;
    background: rgb(173, 210, 224);
    padding: 20px;
}

.nube {
    position: absolute;
    animation: movimiento-nube 10s linear infinite;
}

.nube img {
    width: 150px;
    height: auto;
}

.nube:nth-child(2) img {
    width: 200px;
}

.nube:nth-child(1) {
    top: 20px;
    left: -150px;
    animation-duration: 12s;
}

.nube:nth-child(2) {
    top: 50px;
    left: -200px;
    animation-duration: 18s;
}

@keyframes movimiento-nube {
    from { transform: translateX(-200px); }
    to { transform: translateX(100vw); }
}

.actividades {
    display: flex;
    justify-content: center;
    align-items: center;
}


.actividad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; 
    text-align: center;
    margin: 35px;
    padding: 10px;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.actividad img {
    width: 100%;
    max-width: 300px; 
    border-radius: 10px;
    margin-bottom: 10px;
}

.actividad p {
    font-size: 18px; 
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

#contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}


#contacto label {
    font-weight: bold;
    color: #3d532e;
    margin-bottom: 5px;
    align-self: flex-start;
}

#contacto input,
#contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#contacto button {
    background-color: #0b6d28;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#contacto button:hover {
    background-color: #3d532e;
}


#contacto h2 {
    margin-bottom: 20px;
    color: #536147;
    text-align: center;
}

footer {
    background-color: rgb(99, 110, 90);
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: underline;
}